.gallery-inner-wrapper{
    margin-bottom: 4vh;
}

.gallery-item{
    margin: 0 3% 3% 0;
    float: left;
    width: 18vw;
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Modal {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.5s;
    overflow: auto;
    transition: all 0.3s linear;
    filter: drop-shadow(2px 4px 6px black);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border-radius: 4px;
    max-width: 638px;
    height: 540px;
    padding-top: 0px;
    animation-name: fade-in;
    animation-duration: .5s;
    animation-timing-function: ease-in;
  }

  @keyframes fade-in {
    0%   {width: 0%;opacity: 0;}   
    100% {width: 50%;opacity: 1;}
  }

  .Close {
    color: #aaaaaa;
    float: right;
    font-size: 16px;
  }
  
  .Close:hover, .Close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-image{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }