.gallery-inner-wrapper{
    margin-bottom: 4vh;
}

.gallery-item{
    margin: 0 3% 3% 0;
    float: left;
    width: 18vw;
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



  .modal-image{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media(max-width:500px){
    .gallery-item{
      width: 80vw;      
      background-size: contain;
      background-repeat: no-repeat;
    }
  }