<page-header
[title]="title"
[pathMap]="pathMap"
(pathSelected)="changeTheRoute($event)"></page-header>
<div class="content-wrapper">
    <div class="row">
        <div class="col-sm-3 col-md-3" *ngFor="let item of getCards()">
            <app-card 
            [title]="item.title"
            [price]="item.price"
            [name]="item.name"
            [length]="item.length"
            [id]="item.id"
            [images]="getCardImages(item)"
            [displayButton] = "true"
            [displayDefaultContent]="true"            
            (reDirect)="redirect($event)"
            ></app-card>              
        </div>
    </div>
</div>