<div class="header justify-content-center">
  <header class="primary-header">
      <div class="inner-width">
          <nav class="navbar navbar-expand-lg navbar-light">
              <a class="navbar-brand" href="#">
                  <img src="./assets/home/boat-craft.png" style="height:50px;width:300px"/>
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#primary-headerOptions" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="primary-headerOptions">
                  <ul class="navbar-nav">
                      <li class="nav-item active">
                          <a class="nav-link" href="#">Home</a>
                      </li>
                      <li class="nav-item active">
                          <a class="nav-link" href="#">Services</a>
                      </li>
                      <li class="nav-item active">
                          <a class="nav-link" [routerLink]="['/designs']" routerLinkActive="router-link-active" >Designs</a>
                      </li>
                      <li class="nav-item active">
                          <a class="nav-link" [routerLink]="['/about']">About Us</a>
                      </li>
                      <li class="nav-item active">
                          <a class="nav-link" [routerLink]="['/contact']">Contact</a>
                      </li>
                  </ul>
              </div>
          </nav>
      </div>
  </header>
</div>