.Yatch-card{
    width: 240px;
}

.Yatch-image{
    position: relative;
}

.Yatch-image img{
    width: 240px;    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-left: #e8e8e8 1px solid;
    border-right: #e8e8e8 1px solid;
    border-top: #e8e8e8 1px solid;
    
}

.yatch-block-content{
    border-left: #e8e8e8 1px solid;
    border-right: #e8e8e8 1px solid;
    border-bottom: #e8e8e8 1px solid;
    padding: 30px;
    margin: 0 0 30px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.yatch-block-content h3 {
    font-size: 20px;
    margin: 0 0 25px 0;
}

.yatch-block-content h3 a{
    text-decoration: none !important;
    color: #424242 !important;
    font-family: 'Source Serif Pro', serif;
    cursor: pointer;
}

.yatch-block-content ul {
    margin: 0 0 20px -10px;
    padding-left: 0px;
}

.title-block6 {
    width: 45px;
    height: 2px;
    margin: 0 0 25px 0;
    background: #85a5cc;
}

.yatch-block-content ul li {
    font-size: 16px;
    margin: 0 0 5px 20px;
    position: relative;
    line-height: 130%;
    list-style-type: "\f00c";
}

.yatch-block-content ul li span{
    color: #a9a9a9;
    margin-left: 6px;
}

.yatch-block-content ul li:before {    
    font-size: 16px;
    margin: 0 6px 0 0;
    position: absolute;
    left: -30px;
}

.yatch-block-content p button{
    background: #fff;
    border: #e8e8e8 1px solid;
    color: #424242;
    font-size: 14px;
    padding: 14px 23px 16px 23px;
    display: table;
    line-height: 1;
    margin: 30px 0 0 30px;
}