.content-wrapper{
    width: 1140px;
    margin: 0 auto;
}

@media (max-width:500px){
    .content-wrapper{
        width: 100% !important;
    }

    .row{
        margin-left: 0px;
        margin-right: 0px;
    }
}