<page-header
[title]="title"
[pathMap]="pathMap"
(pathSelected)="changeTheRoute($event)"></page-header>
<div class="content-wrapper">
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <h4>Our Company</h4>
      <div class="title-block5"></div>
      <div class="text-wrapper">
        <p>
         {{aboutPara[0]}}
        </p>
        <p>
          {{aboutPara[1]}}
        </p>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div style="margin-top:13%">
        <image-grid
        [columns]="3"
        [images]="gallery"
        [imageHeight]="imagesHeight"
        [imageWidth]="imagesWidth"></image-grid> 
      </div>
    </div>
  </div>
</div>