<div>
  <div class="page-header">
    <h1>About Us</h1>
    <div class="title-block"></div>
    <p>
      <span>
        <a style="text-decoration: none;color:black;" [routerLink]="['/home']">
          <span>Home</span>
        </a>
      </span> 
      <span class="sep">
        <i class="fa fa-angle-right"></i>
      </span> 
      <span class="current">About Us</span>
    </p>
  </div>
</div>
<div class="content-wrapper">
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <h4>Our Company</h4>
      <div class="title-block5"></div>
      <div class="text-wrapper">
        <p>
          Duis commodo ipsum quis ante venenatis rhoncus. Vivamus imperdiet felis 
          ac facilisis hendrerit. Nulla eu elementum ex, ut pulvinar est. Nam aliquet 
          et tortor sed aliquet. Pellentesque habitant morbi tristique senectus et 
          netus et malesuada fames ac turpis egestas. Integer sit amet aliquet leo. 
          Sed aliquam ex id turpis mattis, sit amet porta augue laoreet. Duis euismod 
          feugiat consectetur.
        </p>
        <p>
          Maecenas sodales maximus mi sed placerat. Cras nec velit blandit, porta risus a, 
          accumsan tellus. In hac habitasse platea dictumst. Curabitur mollis nisl sit amet 
          pellentesque congue. Sed feugiat elit et nunc tempor eleifend. Sed ac porttitor 
          ligula, nec efficitur justo. Nam sit amet sagittis diam, id maximus nibh. Proin 
          consequat, nibh ut semper rhoncus, lacus tortor laoreet ante.
        </p>
      </div>
    </div>
    <div class="colsm-6 col-md-6">
      <div class="row gallery-inner-wrapper" *ngFor ="let pictures of gallery">
          <div class="col-md-4 col-sm-4" *ngFor="let picture of pictures">
            <div class="gallery-item">
              <a href="" data-gal="prettyPhoto[gallery-1]" title="image7">
                <img src="./assets/small-yatch.jpeg" alt="">
              </a>
            </div>
          </div>
      </div>  
    </div>
  </div>
</div>