<div class="row">
  <div class="col-md-12 col-sm-12 carousal">
    <app-carousel 
    [displayCaption]="true"
    [title]="title"
    [discription]="discription">
      <ng-container *ngFor="let slide of slides;">
        <img appCarouselSlide
        [src]="slide.src"
        />
      </ng-container>
    </app-carousel>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 inspiration">
    <div class="inner-container">
      <div class="wrapper">
        <div class="clearfix row">
          <div class="about-us-block col-md-6 col-sm-6">
            <h3>About Us</h3>
            <div class="title-block4"></div>
            <p></p>
            <p>
              "Maecenas condimentum vitae lectus nec tristique sed quis est ac est elementum ultricies donec fringilla ipsum nisl, 
              sodales mollis purus vehicula sit amet. Naman laoreet massa id interdum suscipit. Pellentesque tempor varius felis, 
              in semper libero fermentum sit amet Donec dignissim purus eu lacus facilisis euismod."
            </p>
            <p></p>
            <a [routerLink]="['/about']"  class="button0">
              <i class="fa fa-arrow-circle-right"></i>
              Learn More
            </a>
          </div>
          <div class="about-us-block-image col-md-6 col-sm-6">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="yatch-wrapper col-md-12 col-sm-12">
    <div class="yatch-inner-wrapper">
      <div class="yatch-section">
        <div class="yatch-section-carousel-wrapper">
          <h3 class="yacht-title">Our Yachts</h3>
          <div class="title-block5"></div>
          <p class="yatch-intro-text">
            "Choose from a wide selection of boats ranging from luxury motor yachts 
            to classic sailing yachts, we have every type of boat available to meet 
            your needs. We also take custom orders and will help you acquire a specific 
            yacht."
          </p>
          <ng-container>
            <div class="row">
              <app-card *ngFor="let item of cards"
              [title]="item.title"
              [price]="item.price"
              [name]="item.name"
              [berth]="item.berth"
              ></app-card>              
            </div>
          </ng-container>          
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="full-width-message-wrapper">
      <div  style="margin: 0 10%; width: 80%">
        <div class="full-width-inner">
          <h3>
            Our huge selection of yachts and locations around the world allow you to have precisely the type of sailing experience you wish
          </h3>
          <div class="row" style="margin: 30px auto 0 auto">
            <div class="col-md-6 col-sm-6">
              <a class="button0">View Yachts</a>
            </div>
            <div class="col-md-6 col-sm-6">
              <a class="button0" style="float:left" [routerLink]="['/contact']">Get in Touch</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 full-width-inner-gallery">
    <h3>Photo Gallery</h3>
    <div class="title-block5" style="width: 6vw; margin-left: 47%;"></div>
    <div class="gallery-wrapper">
      <div class="row gallery-inner-wrapper" *ngFor ="let pictures of gallery">
        <div class="col-md-3 col-sm-3" *ngFor="let picture of pictures">
          <div class="gallery-item">
            <a href="" data-gal="prettyPhoto[gallery-1]" title="image7">
              <img src="./assets/small-yatch.jpeg" alt="">
            </a>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="full-width-message-wrapper">
      <div  style="margin: 0 10%; width: 80%">
        <h3 class="owners-detail">Owners</h3>
        <div class="title-block5"></div>
        <div class="about-owner">
          <div class="about-owner-innerwrapper">
            <div style="display: flex;flex-flow: row; max-height: 100px;">
              <span class="about-owner-open-qoute">“</span>
              <p>
                The best yacht trip I’ve had in years, myself and a friend rented the super yacht 
                package and sailed from Bridge Town to Road Town. The staff at Yacht Charter are 
                professional and exceeding my expectations.
              </p>
              <span class="about-owner-close-qoute">”</span>
            </div>
            <div class="about-owner-image">
              <img src="http://themes.quitenicestuff2.com/yachtcharterwp/wp-content/uploads/2016/10/image14-70x70.jpg"/>
            </div>
            <div class="about-owner-author">
              <p>Mike Jones - Weekend Yatch Character</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>