.carousal{
    max-height: 700px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 700px;
    padding-right: 0px;
    padding-left: 0px;
}

.w-100{
    width:fit-content !important;
    height: 500px;
}

.row {
    margin-left : 0;
    margin-right : 0;
}

.clearfix{
    zoom: 1;
}

.about-us-block {
    padding: 110px 150px 0 150px;
    width: calc(50% - 300px);
    float: left;
    background: #1a1f2b;
    height: fit-content;
    visibility:hidden;
}



@media only screen and (max-width: 1700px){
    .about-us-block {
        padding: 110px 5% 0 5%;
        width: calc(50% - 10%);
    }
}

.about-us-block h3{
    color: #fff;
    margin: 0 0 30px 0;
    font-size: 24px;
}

.title-block4{
    width: 45px;
    height: 2px;
    margin: 0 0 20px 0;
    background: #85a5cc;
}

.about-us-block p{
    margin: 0 0 35px 0;
    color: #fff;
}

.col-md-12{
    padding-left: 0;
    padding-right: 0;
}

.button0{
    padding: 18px 25px;
    font-size: 17px;
    color: #fff;
    display: table;
    background: #85a5cc;
    margin-bottom: 4vh;
    text-decoration: none;
}

.about-us-block-image{
    width: calc(50% - 300px);
    float: left;
    padding-left: 0;
    padding-right: 0;
    background-image: url(/assets/home/About-Us.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    visibility: hidden;
}

.yatch-wrapper{
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.yatch-inner-wrapper{
    padding-top: 35px;
}

.yatch-section{
    padding: 60px 0;
}

.yatch-section-carousel-wrapper{
    max-width: calc(1140px - 30px);
    margin: 0 auto;
    padding: 0 15px;
    visibility:hidden;
}

.yacht-title{
    font-size: 24px;
    margin: 0 0 30px 0;
    text-align: center;
    font-family: 'Source Serif Pro', serif;
    color: #424242;
}

.title-block5{
    width: 45px;
    height: 2px;
    margin: 0 0 20px 0;
    background: #85a5cc;
    margin-left: 48%;
}

.yatch-intro-text {
    width: 83%;
    margin: 0 auto 50px auto;
    text-align: center;
}

.full-width-message-wrapper{
    width:100%;
    padding: 80px 0px;
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("/assets/home/boat-craft-2-bc-65-scaled.jpg");
    background-size: 100% 153%;
    background-repeat: no-repeat;
    visibility: hidden;
}

.full-width-message-wrapper::after{
    opacity: 0.3;
}

.full-width-inner{
    width:100%;
    margin: 0 auto;
}

.full-width-inner h3{
    font-size: 22px;
    text-align: center;
    line-height: 160%;
    width: 75%;
    margin: 0 auto;
    color:#fff;
    font-family: 'Source Serif Pro', serif;
}

.full-width-inner a{
    margin-bottom: 0vh;
    float: right;
}

.full-width-inner-gallery{
    width:100%;
    padding: 40px 0px 0px 0px;
}

.full-width-inner-gallery h3{
    font-size:25px;
    text-align: center;
    font-family: 'Source Serif Pro', serif;
    margin-bottom: 20px;
    width: 100%;
}

.gallery-grid{
    margin: 0 auto;
}

.gallery-wrapper{
    width: 81%;
    margin: 0 10%;
}

.owners-detail{
    font-size:25px;
    text-align: center;
    font-family: 'Source Serif Pro', serif;
    margin-bottom: 20px;
    width: 100%;   
    color: white;
}

.about-owner{
    width: 100%;
    margin: 0 auto;
}

.about-owner-innerwrapper{
    margin: 22px 0 0 0;
}

.about-owner-open-qoute{
    font-family: Georgia;
    font-size: 160px;
    font-style: normal;
}

.about-owner-close-qoute{
    font-family: Georgia;
    font-size: 160px;
    font-style: normal;    
}

.about-owner-innerwrapper p {
    font-size: 18px;
    position: relative;
    line-height: 160%;
    text-align: center;
    width: 88%;
    margin: 0 auto;
    align-self: flex-end;
}

.about-owner-image{
    width: 80px;
    height: 80px;
    margin: 20px auto;
    background: transparent;
}

.about-owner-image img {
    border-radius: 100%;
}

.about-owner-author{
    position: relative;
    width: 85%;
    margin: 0 auto;
}
