<footer class="footer">
  <div class="footer-inner">
    <div class="row footer-inner-wrapper">
      <div class="col-md-3">
          <h5>About Us</h5>
          <div class="title-block"></div>
          <div class="textwidget">
            <p>{{ aboutPara }}</p>            
          </div>
      </div>
      <div class="col-md-3">
          <h5>Our Company</h5>
          <div class="title-block"></div>
          <div class="textwidget">
            <ul class="options">
              <li *ngFor="let item of listData" (click)="redirect(item.url)"><div [style.top]="item.style"></div>{{item.name}}</li>              
            </ul>
          </div>
      </div>
      <div class="col-md-3">
        <h5>Contact Details</h5>
        <div class="title-block"></div>
        <div class="textwidget">
          <ul class="contact-widget">
            <li>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              Ap/1, Reliance Park, Colva Margo Road,
              Per-seraulim, Colva, Salcete, Goa - 403 708
            </li>
            <li>
              <i class="fa fa-phone" aria-hidden="true"></i>
              +91 - 832-2789400/2789401
              <br/>
              <span>Mon - Fri, 9.00am until 6.30pm</span>
            </li>
            <li>
              <i class="fa fa-envelope" aria-hidden="true"></i>
              John@boatcraft.in
              <br/>
              <span>We reply within 24 hrs</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <h5>Career</h5>
        <div class="title-block"></div>
        <div class="textwidget">
          <ul class="options">
            <li *ngFor="let item of careerData"><div [style.top]="item.style"></div>{{item.name}}</li>              
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
